<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GreetingBinding" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Samples.Runnable.HostAspNetWcf.Host.GreetingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="GreetingBinding" contract="Samples.Runnable.HostAspNetWcf.Host.IGreetingService" />
      </service>
    </services>
    <client>
      <endpoint name="GreetingClient" address="http://localhost/GreetingService.svc" binding="basicHttpBinding" bindingConfiguration="GreetingBinding" contract="Samples.Runnable.HostAspNetWcf.Host.IGreetingService" />
    </client>
  </system.serviceModel>
</configuration>
